{% extends 'base.html' %}
{% load static %} 
{% block title %}About Me{% endblock title %}

{% block content %}

<section class="about-section center-row">

    <div class="about-description-container center-column">
        <h1>My Role as a Developer</h1>
        <h2>Moses K</h2>

        <p>A passionate software developer with a knack for turning complex problems into elegant solutions, this individual excels in full-stack development, mastering front-end technologies like React and Vue.js, as well as back-end frameworks such as Node.js and Django. Thriving in collaborative environments, they often lead projects that require innovative thinking and agile methodologies. With a keen eye for detail, their code is not only functional but also efficient and maintainable. Outside of work, they enjoy contributing to open-source projects and sharing knowledge through tech blogs, inspiring the next generation of developers.</p>

        <div class="skills-container center-column">
            <h2>Skills</h2>

            <div class="skills-list center-row">
                <label class="text-label">DJANGO</label>
                <label class="text-label">HTML</label>
                <label class="text-label">CSS</label>
                <label class="text-label">JQUERY</label>
                <label class="text-label">JAVASCRIPT</label>
                <label class="text-label">PYTHON</label>
                <label class="text-label">REACT</label>
                <label class="text-label">UBUNTU</label>
                <label class="text-label">HEROKU</label>
                <label class="text-label">OTHERS</label>
            </div>
        </div>
    </section>    
{% endblock content %}